.u-section-1 {
  background-image: url("images/pexels-photo-3184460.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 720px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-transform: none;
  margin: 294px 0 0 482px;
}

.u-section-1 .u-text-2 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: none;
  margin: 81px 0 0 768px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-size: 1.5625rem;
  font-weight: 700;
  margin: 56px 0 37px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 191px;
    margin-left: 282px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 70px;
    margin-left: 568px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 83px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
    margin-top: 227px;
    margin-left: 222px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 46px;
    margin-left: 348px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 71px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 218px;
    margin-left: 156px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 49px;
    margin-left: 248px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 77px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 100% 50%;
    background-size: auto 120%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 101px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 34px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 24px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/image-1.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 871px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  width: 448px;
  margin: 101px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.5rem;
  margin: 61px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: none;
  margin: 130px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 718px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.1875rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 919px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 60px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 131px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5625rem;
  }
}